@model ShopCartViewModel
<div calss="container">
    @foreach (var item in Model.shopCart.listShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль: </b> @item.car.name
            <b>Цена:</b> @item.car.price.ToString("c")
        </div>
    }
    <hr />
    <div class="btn btn-danger" asp-controller="Order">Оплатить</div>
</div>