@model CreateCarViewModel

<h3 class="mt-4">Adding new car</h3>
<div class="row" mb-5>
    <form class="login-form-1 mb-4" asp-action="Create" method="post">

        <input asp-for="name" type="text" class="form-control" placeholder="Name *" value="" />
        <span asp-validation-for="name" class="text-danger"></span>

        <input asp-for="price" type="number" class="form-control" placeholder="Car price *" value="" />
        <span asp-validation-for="price" class="text-danger"></span>

        <input asp-for="description" type="text" class="form-control" placeholder="Car descirption *" value="" />
        <span asp-validation-for="description" class="text-danger"></span>

        <input asp-for="image" type="text" class="form-control" placeholder="Image url *" value="" />
        <span asp-validation-for="image" class="text-danger"></span>

        <input type="hidden" name="categoryName" value="@Model.categoryName" />

        <div class="form-group">
            <input class="btn-success" type="submit" value="Create" />
        </div>

    </form>
</div>


