@model RegisterModel


<div class="login-page">
    <form class="login-form-1" asp-action="Register">
        <h3>Register</h3>

        <input asp-for="name" type="text" class="form-control" placeholder="Your name *" value="" />
        <span asp-validation-for="name" class="text-danger"></span>

        <input asp-for="email" type="text" class="form-control" placeholder="Your Email *" value="" />
        <span asp-validation-for="email" class="text-danger"></span>


        <div class="form-group">
            <input asp-for="password" type="password" class="form-control" placeholder="Your Password *" value="" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="mt-2 mb-2" style="color: red">
            @Html.ValidationMessage("error")
        </div>
    </form>
</div>